<%- include('partials/header') %>

<div class="page-wrapper">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="page-breadcrumb">
            <div class="row">
                <div class="col-5 align-self-center">
                    
                </div>
                <div class="col-7 align-self-center">
                    <div class="d-flex no-block justify-content-end align-items-center">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="#">Dashboard</a>
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">Product</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>




        <div class="container-fluid">
        
       
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Edit Product</h4>
                          

                                <% singleproduct.forEach(function (info) { %>
                                    <form action="/updateproduct=<%= info.pro_id %>" method="post" enctype="multipart/form-data">
                                     <div class="form-group">
                                         <input type="text" name="name"   class="form-control" value="<%= info.name %>" >
                                     </div>
                                     <div class="form-group">
                                        <input type="file" name="thumbnail"   class="form-control" value="<%= info.thumbnail %>" >
                                    </div>
                                     <div class="form-group">
                                             <input type="text" name="category" class="form-control"  value="<%= info.category %>">
                                      </div>
                                      <div class="form-group">
                                        <input type="text" name="quantity" class="form-control"  value="<%= info.quantity %>">
                                     </div>
                                     <div class="form-group">
                                        <input type="text" name="price" class="form-control"  value="<%= info.price %>">
                                     </div>
                                     <div class="form-group">
                                        <input type="text" name="lastprice" class="form-control"  value="<%= info.lastprice %>">
                                     </div>
                                     <div class="form-group">
                                        <input type="text" name="description" class="form-control"  value="<%= info.description %>">
                                     </div>
                                     <div class="form-group">
                                        <input type="file" name="photo1"   class="form-control" value="<%= info.photo1 %>" >
                                    </div>
                                    <div class="form-group">
                                        <input type="file" name="photo2"   class="form-control" value="<%= info.photo2 %>" required >
                                    </div>
                                    <div class="form-group">
                                        <input type="file" name="photo3"   class="form-control" value="<%= info.photo3 %>" required >
                                    </div>
                                    <div class="form-group">
                                        <input type="file" name="photo4"   class="form-control" value="<%= info.photo4 %>" required >
                                    </div>
                                     <div class="form-group">
                                        <input type="text" name="brand" class="form-control"  value="<%= info.brand %>" required>
                                     </div>
                                     <div class="form-group">
                                        <input type="text" name="delivery" class="form-control"  value="<%= info.delivery %>" required>
                                     </div>
                                     <input type="hidden" name="user_id" class="form-control" placeholder="<%= user.buss_id %>" value="<%= user.buss_id %>">

                                      <div class="form-group">
                                          <button type="submit" class="btn btn-success">Update</button>
                                      </div>
                                      <input type="hidden" name="_method" value="PUT" />
                                   </form>
                                   <%})%>
 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
 
<%- include('partials/footer') %>