<%- include('partials/header') %>
 
<div>
     



<div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-5 align-self-center">
                <h4 class="page-title">Order List</h4>
                <div class="d-flex align-items-center">

                </div>
            </div>
            <div class="col-7 align-self-center">
                <div class="d-flex no-block justify-content-end align-items-center">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="#">Home</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">Dalbo</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">liiska dalbashada </h4>
                          <div class="table-responsive">
                            <table id="demo-foo-addrow" class="table m-t-30 no-wrap table-hover contact-list" data-page-size="10">
                                <thead>
                                    <tr>
                                        
                                        <th>dalbasho</th>
                                        <th>Magaca macaamiisha</th>
                                        <th>cinwaanka1</th>
                                        <th>Cinwaanka2</th>
                                        <th>Xaaladda</th>
                                        <th>Magaalada</th>
                                        <th>Bixinta</th>
                                        <th>Telephone</th>
                                        <th>fal</th>
                                        </tr>
                                    </tr>
                                </thead>
                                <% order.forEach(function (info) { %>
                                <tbody>
                                    <tr>
                                        <td><%= info.order_id %></td>
                                        <td><%= info.fullname %></td>
                                        <td><%= info.address1 %></td>
                                        <td><%= info.address2 %></td>
                                        <td><span class="label label-danger"><%= info.status %></span> </td>
                                        <td><%= info.town %></td>
                                        <td><%= info.payment %></td>
                                        <td><%= info.phone %></td>
                                        <td>
                                            <a href="/orderinfo=<%= info.order_id %>" class="btn btn-success"><i class="ti-eye" aria-hidden="true"></i></a>
                                        </td>
                                    </tr>
                                </tbody>
                                <%})%>
                                <tfoot>
                                        <tr>
                                                <th>dalbasho</th>
                                                <th>Magaca macaamiisha</th>
                                                <th>cinwaanka1</th>
                                                <th>Cinwaanka2</th>
                                                <th>Xaaladda</th>
                                                <th>Magaalada</th>
                                                <th>Bixinta</th>
                                                <th>Telephone</th>
                                                <th>fal</th>
                                                </tr>
                                            </tr>
                                    
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- Column -->













</div>

<%- include('partials/footer') %>
 
 